@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #756157;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-light {
  background-color: #82b3d3;
}

.button-light:hover,
.button-light:focus {
  background-color: #68a2ca;
}

.button-light:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.button-transparent:focus {
  opacity: 1;
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
  background-color: transparent;
}

.button-transparent:active {
  box-shadow: none;
  background-color: transparent;
}

.button:disabled,
.button-disabled {
  background-color: #e5e5e5;
}

.button-transparent:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}

.page-title {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.page-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-input {
  width: 100%;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border: none;
  /* border: 2px solid transparent; */
  border-radius: 4px;
}

.page-input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.page-input:hover {
  /* border-color: #e6e6e6; */
  background-color: #e6e6e6;
}

.page-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  /* border-color: #e6e6e6; */
  background-color: #e6e6e6;
}

.main {
  flex-grow: 1;
}

.header {
  display: grid;
  grid-template-columns: 138px 1fr;
  position: relative;
  z-index: 1;
  padding: 0 70px;
}

.logo {
  display: block;
  width: 140px;
  margin-bottom: -6px;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto 0 30px;
  padding: 0;
  list-style: none;
}

.nav-list-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.nav-list-link:hover,
.nav-list-link:focus {
  opacity: 0.6;
}

.nav-list-link:active {
  opacity: 0.3;
}

.nav-list-link-current {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 24px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 0 20px 0 0;
  padding: 0;
  list-style: none;
}

.user-link {
  position: relative;
  display: block;
  min-width: 44px;
  min-height: 64px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.user-link:hover,
.user-link:focus {
  opacity: 0.6;
}

.user-link:active {
  opacity: 0.3;
}

.user-link-search {
  background-image: url("../img/svg/search.svg");
}

.user-link-favorites {
  background-image: url("../img/svg/heart.svg");
}

.user-link-favorites-num {
  min-width: 20px;
  position: absolute;
  top: 11px;
  right: 4px;
  display: block;
  padding: 5px 4px;
  background-color: #7db54f;
  border-radius: 10px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
}

.nav-btn {
  margin-top: 14px;
  width: 160px;
}

.hero {
  position: relative;
  padding: 51px 70px 82px;
  background-color: rgba(131, 179, 211, 0.5);
  background-image: url("../img/index-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url("../img/svg/border-bottom-background.svg");
  left: 0;
  right: 0;
  height: 57px;
}

.advantages-desc {
  width: 860px;
  margin: 0 auto;
  padding: 69px 0 90px;
}

.advantages-block-title {
  margin-bottom: 25px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  background-color: rgba(130, 179, 211, 0.2);
}

.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: rgba(130, 179, 211, 0.12);
}

.advantages-item-full {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / -1;
  background-color: rgba(130, 179, 211, 1);
  color: #ffffff;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.card-info {
  max-width: 400px;
  min-height: 385px;
  padding: 115px 85px 80px;
  text-align: center;
}

.advantages-item-full .advantages-content {
  padding-top: 103px;
}

.card-title {
  color: #000000;
  margin: 0 auto 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.card-text {
  margin: 0;
}

.advantages-title {
  position: relative;
  width: 175px;
  padding-bottom: 30px;
}

.advantages-item-full .advantages-title {
  color: #ffffff;
}

.advantages-title::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-item-full .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-img {
  margin: 0;
  width: 800px;
  flex-shrink: 0;
}

.advantages-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-desc {
  width: 505px;
  margin: 0 auto;
  padding: 64px 0;
}

.service-block-title {
  margin-bottom: 20px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  padding-top: 184px;
  background-size: 75px 72px;
  background-position: center 80px;
  background-repeat: no-repeat;
  background-color: rgba(130, 179, 211, 0.12);
}

.service-item:nth-child(2n) {
  background-color: #ffffff;
}

.service-item-housing {
  background-image: url("../img/svg/house.svg");
}

.service-item-food {
  background-image: url("../img/svg/food.svg");
}

.service-item-souvenirs {
  background-image: url("../img/svg/souvenirs.svg");
}

.search {
  width: 592px;
  margin: 0 auto;
  padding: 96px 0;
  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 54px;
}

.search-btn {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 70px 104px;
}

.subscribe-index {
  color: #ffffff;
  background-color: #3b6784;
  background-image: url("../img/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe-desc {
  width: 475px;
  margin: 0 auto;
  padding-bottom: 55px;
}

.subscribe-index .subscribe-title {
  color: #ffffff;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 232px;
  margin: 0 auto;
  width: 684px;
}

.subscribe-input {
  border-radius: 4px 0 0 4px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-btn {
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 45px 70px 35px;
}

.social {
  margin: 0;
  padding: 0;
  max-width: 150px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  color: #83b3d3;
}

.social-link:hover,
.social-link:focus {
  color: #68a2ca;
}

.social-link:active {
  opacity: 0.3;
}

.footer-telephone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-telephone:hover,
.footer-telephone:focus {
  color: #756157;
}

.footer-telephone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy {
  margin-top: 3px;
  display: block;
  width: 115px;
  height: 34px;
  color: #000000;
}

.htmlacademy:hover,
.htmlacademy:focus {
  color: #756157;
}

.htmlacademy:active {
  opacity: 0.3;
}

.filter {
  color: #ffffff;
  padding: 35px 70px 70px;
  background-color: #87655b;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filter-title {
  margin: 0 0 7px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 28px;
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-list li {
  position: relative;
}

.breadcrumbs-list li:not(:last-child)::after {
  position: absolute;
  content: "";
  bottom: 4px;
  right: -15px;
  width: 7px;
  height: 7px;
  border-radius: 1px;
  box-shadow: inset -1px -1px 0 0 #ffffff;
  transform: rotate(-45deg);
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../img/svg/home.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 70px;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-fieldset:last-child {
  margin-right: 0;
}

.filter-fieldset legend {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.control-item {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  margin-bottom: 16px;
}

.control-item:last-child {
  margin-bottom: 0;
}

.control-input {
  display: grid;
  place-content: center;
  appearance: none;
  margin: 0;
  background-color: #ffffff;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.control-input:hover + .control-label,
.control-input:hover {
  opacity: 0.6;
}

.control-input:focus + .control-label {
  opacity: 1;
}

.control-input:focus {
  outline: none;
  opacity: 1;
  box-shadow: 0 0 0 3px #83b3d3;
}

.control-input:active + .control-label,
.control-input:active {
  opacity: 0.3;
}

.control-input[type="radio"] {
  border-radius: 50%;
}

.control-input::before {
  content: "";
  width: 12px;
  height: 10px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-image: url("../img/svg/checkbox.svg");
  background-repeat: no-repeat;
}

.control-input[type="radio"]::before {
  width: 10px;
  height: 10px;
  background-image: none;
  border-radius: 50%;
  box-shadow: inset 10px 10px #3f5e72;
}

.control-input:checked::before {
  transform: scale(1);
}

.control-label {
  padding-left: 16px;
  font-size: 18px;
  line-height: 23px;
}

.price-fieldset {
  margin-left: auto;
}

.range-input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 288px;
  column-gap: 2px;
  margin-bottom: 44px;
}

.range-item {
  position: relative;
}

.range-input {
  padding-right: 50px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-input,
.range-input:hover,
.range-input:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-item label {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle-btn {
  position: absolute;
  top: -8px;
  display: block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle-btn:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle-btn:focus {
  outline: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25), 0 0 0 3px #83b3d3;
}

.range-toggle-btn:active {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25), 0 0 0 2px #83b3d3;
}

.range-toggle-btn-min {
  left: 0;
}

.range-toggle-btn-max {
  right: 0;
}

.buttons-fieldset {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  width: 191px;
}

.buttons-fieldset button {
  padding: 8px 8px;
}

.filter-submit-btn {
  margin-bottom: 32px;
}

.results {
  padding: 0 70px;
}

.results-sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 0 40px;
}

.results-title {
  text-align: start;
}

.results-select {
  width: 292px;
  padding: 14px 53px 14px 20px;
  margin: 0 70px 0 auto;
  border: none;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  background-color: #ffffff;
  background-image: url("../img/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 13px 7px;
}

.results-select:hover,
.results-select:focus {
  box-shadow: inset 0 0 0 2px #68a2ca;
  outline: none;
}

.results-select:disabled {
  box-shadow: inset 0 0 0 2px #000000;
  opacity: 0.3;
}

.sorting-view-list {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 8px;
  max-width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
}

.view-link:hover {
  border-color: #000000;
}

.view-link:focus {
  border-color: #68a2ca;
  outline: none;
}

.view-link:active {
  border-color: #000000;
}

.view-link-tile {
  background-image: url("../img/svg/view-tile.svg");
}

.view-link-preview {
  background-image: url("../img/svg/view-preview.svg");
}

.view-link-table {
  background-image: url("../img/svg/view-table.svg");
}

.view-link-active {
  border-color: #000000;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0 0 40px;
  list-style: none;
}

.product-list[data-view="view-preview"],
.product-list[data-view="view-table"] {
  grid-template-columns: 1fr;
}

.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Следующий параметр, чтобы растянуть заголовок карточки на одинаковую высоту при длинном названии в одной из них */
  grid-template-rows: auto 1fr auto;
  gap: 16px 20px;
  align-content: start;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e6e6e6;
}

.product-img-link {
  grid-column: 1 / -1;
}

.product-img {
  margin: 0;
}

.product-img img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-title-link {
  grid-column: 1 / -1;
  justify-self: start;
  text-decoration: none;
  color: #000000;
}

.product-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.product p {
  margin: 0;
}

.product-price {
  text-align: end;
}

.product-favorites-btn-active {
  background-color: #7db54f;
}

.product-favorites-btn-active:hover,
.product-favorites-btn-active:focus {
  background-color: #6c9e42;
}

.product-favorites-btn-active:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.product-stars {
  display: block;
  height: 37px;
  background-image: url("../img/svg/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.product-stars-4 {
  width: 90px;
}

.product-stars-3 {
  width: 70px;
}

.product-stars-2 {
  width: 50px;
}

.product-rating {
  display: block;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-align: center;
  padding: 9px 8px 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-list[data-view="view-table"] .product {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto auto;
  gap: 10px 30px;
  align-items: center;
}

.product-list[data-view="view-table"] .product-title-link {
  grid-column: 2 / -1;
}

.product-list[data-view="view-table"] .product-img-link {
  grid-column: auto;
  grid-row: 1 / 3;
}

.product-list[data-view="view-table"] .product-more-button {
  order: 3;
}

.product-list[data-view="view-table"] .product-favorites-btn {
  order: 4;
}


.pagination {
  box-shadow: inset 0 1px 0 0 #e6e6e6;
  padding: 40px 0 60px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-width: 60px;
  max-width: 200px;
  min-height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:not(.pagination-link-current, .pagination-link-more):hover,
.pagination-link:not(.pagination-link-current, .pagination-link-more):focus {
  background-color: #68a2ca;
}

.pagination-link:not(.pagination-link-current, .pagination-link-more):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  border-color: transparent;
  pointer-events: none;
}

.pagination-link-more {
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  border-color: transparent;
}

.modal-container {
  z-index: 1;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-opened {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  min-width: 717px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  box-shadow: none;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  opacity: 0.3;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  background-color: #000000;
}

.modal-close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-title {
  text-align: left;
  padding-right: 30px;
  margin-bottom: 64px;
}

.modal-form {
  display: grid;
  grid-template-columns: max-content 110px max-content 110px;
  row-gap: 48px;
  align-items: center;
}

.modal-input-wrapper {
  width: 440px;
  grid-column: 2 / -1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-input-arrival,
.modal-input-departure {
  padding-right: 60px;
  background-image: url("../img/svg/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px 20px;
}

.modal-input-info {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-top: 4px;
  padding: 0 20px 0;
  left: 0;
  font-size: 16px;
  line-height: 21px;
  background-color: #ffffff;
  border-radius: 4px;
}

.modal-input-info-invalide {
  display: block;
  color: #ff5757;
}

.modal-input-info-valide {
  display: block;
}

.modal-label {
  padding-right: 18px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.modal-label-adults,
.modal-label-children {
  padding-right: 46px;
}

.modal-label-children {
  display: flex;
  justify-self: end;
  grid-column: 3 / 4;
}

.modal-label-children .modal-label {
  padding-right: 0;
}

.modal-number-wrapper {
  position: relative;
}

.modal-number-wrapper:hover .modal-input-number,
.modal-number-wrapper:focus-within .modal-input-number {
  background-color: #e6e6e6;
}

.modal-btn-math {
  display: flex;
  position: absolute;
  top: 0;
  border: none;
  width: 40px;
  height: 100%;
  background-color: transparent;
  color: rgba(117, 97, 87, 0.3);
  outline: none;
}

.modal-btn-math:hover svg {
  color: #000000;
}

.modal-btn-math:focus svg {
  color: #000000;
  box-shadow: 0 0 0 3px #82b3d3;
  border-radius: 4px;
}

.modal-btn-math:active svg {
  opacity: 0.2;
  box-shadow: none;
}

.modal-btn-minus {
  left: 0;
}

.modal-btn-plus {
  right: 0;
}

.modal-input-number {
  text-align: center;
  line-height: 20px;
  padding: 14px 40px;
}

.modal-input-number::-webkit-outer-spin-button,
.modal-input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-input-number,
.modal-input-number:hover,
.modal-input-number:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.modal-btn-math svg {
  margin: auto;
}

.modal-submit-button {
  grid-column: 1 / -1;
  font-size: 20px;
  line-height: 24px;
  padding: 18px;
  border-radius: 10px;
}

.tooltip {
  position: relative;
  margin-top: -2px;
  margin-left: 12px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.tooltip-text {
  display: none;
  width: 256px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  padding: 21px 18px 23px 22px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #333333;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip-text::after {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  background-color: #333333;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
